/*wsui-vim-center Start*/
.wsui-vim-center > *, .wsui-vim-center:after {
  display: inline-block;
  vertical-align: middle;
}

.wsui-vim-center:after {
  content: "\200B";
  height: 100%;
  font-size: 0;
}

/*wsui-vim-center End*/
* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 320px;
  margin: 20px auto;
}

.dib {
  display: inline-block;
}

.tc {
  text-align: center;
}

.test-wsui-vim-center {
  height: 200px;
  border: 1px solid salmon;
}
