@import "../src/index.scss";

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 320px;
  margin: 20px auto;
}

.dib {
  display: inline-block;
}

.tc {
  text-align: center;
}

.test-wsui-vim-center {
  height: 200px;
  border: 1px solid salmon;
}
