@import "../dist/webkit-sassui-vim-center.scss";
*{margin:0;padding:0;-webkit-margin-before:0;-webkit-margin-after:0;}
.wrapper{
  width:320px;
  margin:20px auto;
}
.dib{
  display: inline-block;
}
.tc{
  text-align: center;
}
.test-webkit-sassui-vim-center{
  height:200px;
  border: 1px solid salmon;
}
